.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  @media (max-width: 890px) {
    width: 100%;
    margin-bottom: 50px;
  }

  .title {
    margin: 10px 0;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;

  @media (max-width: 890px) {
    justify-content: space-around;
  }

  @media (max-width: 450px) {
    justify-content: space-evenly;
  }
}