.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding-left: 25px;

    @media (max-width: 890px) {
      padding-left: 0;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 663px) {
      width: 80%;
    }

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}